<mat-toolbar color="primary" class="mat-elevation-z24">
    <mat-toolbar-row>
        <span><mat-icon>important_devices </mat-icon>Contact Manager</span>
        <span class="example-spacer"></span>
       <div class="example-button-row">
        <a mat-button routerLink="" ><mat-icon> home</mat-icon>&nbsp;&nbsp;&nbsp;Home</a>
        <a mat-button routerLink="demo" ><mat-icon>aspect_ratio </mat-icon>&nbsp;&nbsp;&nbsp;Material Demo</a>
        <a mat-button routerLink="contacts" ><mat-icon>contacts </mat-icon>&nbsp;&nbsp;&nbsp;Contacts</a>
        <a mat-button routerLink="about"><mat-icon>book </mat-icon>&nbsp;&nbsp;&nbsp;About</a>
        <a mat-raised-button color="accent" routerLink="login"><mat-icon>lock_open </mat-icon>&nbsp;&nbsp;Sign in</a>
        <a mat-button routerLink="signup"><mat-icon>person_add </mat-icon>&nbsp;&nbsp;&nbsp;Sign up</a>
       </div>
      </mat-toolbar-row>
</mat-toolbar>
