.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-spacer {
flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
.detail-card{
  width:  92%;
  margin: 0 auto;
}